#grid_proyectos
    width: 100%
    display: grid
    color: black
    grid-template-columns: repeat(3, 25%)
    justify-content: center
    gap: 30px
    row-gap: 30px


.cont_proyecto
    display: flex
    flex-direction: column
    width: 100%
    height: 25em
    background-color: #fff
    border-radius: 25px
    padding: 25px
    gap: 10px
    transition: all 0.7s 
    h2
        color: #000
        font-weight: 700
    .img_proyecto
        border-radius: 10px
        width: 100%
    .descripcion_proyecto
        text-align: left
        color: #000
        font-weight: 300

    &:hover
        transform: scale(1.05)
        transform-origin: 50% 50%
